<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi</title>
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div class="paissektsioon">
        <div class="container">
            <%- include ("../partials/matka_pais.ejs") %>
            <div class="row">
                <div class="paissektsiooni-pealkirjad col-12 col-lg-6">
                    <div class="rida">
                        <h2>Matkaklubi</h2>
                        <img class="liblikas1" src="./assets/Butterfly.png" alt="">
                    </div>
                    <div class="rida">
                        <img class="liblikas2" src="./assets/Butterfly2.png" alt="">
                        <h1>liiguta ennast</h1>
                    </div>
                    <div class="rida">
                        <h3>Terves kehas terve vaim</h3>
                        
                    </div>
                    <div>
                        <a class="nupp" href="URL">VAATA TULEVASI MATKASI</a>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6 pealispilt">
                    <img class="matkaja" src="./assets/matkaja.png" alt="">
                    <img class="vari" src="./assets/vari.png" alt="">
                </div>
            </div>
        </div>
    </div>

</body>
</html>